<p> <%= @agent.first_name %>,</p>

<p>You have a new message from property finder,</p>

<p>first name: <%= @first_name %><br/>
last name: <%= @last_name %><br/>
email: <%= @email %></p>

<%= simple_format @message %>